* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

markup {
    display: block;
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
    background: #222;
    color: #aaa;
    line-height: 1.3rem;
}

markup h1,
markup h2,
markup h3,
markup h4,
markup h5,
markup h6 {
    margin-bottom: 10px;
    color: #ddd;
}

markup p {
    text-indent: 10px;
}

markup hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border-color: #888;
}

markup mark {
    padding-inline: 5px;
    background: #6da5;
    color: #6da;
    border-radius: 3px;
}

markup a {
    color: #8da;
    text-decoration: none;
    font-weight: bold;
}

markup a:hover {
    text-decoration: underline;
}

markup blockquote {
    padding: 10px;
    background: #333;
    margin-block: 10px;
    border-radius: 5px;
}

markup img {
    width: 100%;
}